import { FC, useEffect, useState } from "react";
import { useAnchorWallet, useConnection } from "@solana/wallet-adapter-react";
import type { NextPage } from "next";
import Head from "next/head";
import { useProgram } from "../utils/useProgram";
import { useRouter } from "next/router"

{{#each instructions}}
import {
  {{name}}
} from '../utils/callInstructions'
{{/each}}


const Home: NextPage = (props) => {
  const wallet = useAnchorWallet();
  const { connection } = useConnection();
  const { program } = useProgram({ connection, wallet });

// React UseStates hooks for managing args 
{{#each instructions}}
//for {{name}}
{{#each args}} 
const [{{name}} , set{{name}}] = useState()
{{/each}}
{{/each}}

//handler functions for inputs feilds
{{#each instructions}}
{{#each args}}
const {{name}}handler = (e) => {
  set{{name}}(e.target.value)
}
{{/each}}
{{/each}}

// variables for accounts
const authority = ""
const systemProgram = ""
const clock = ""

{{#each instructions}}
{{#each accounts}}
{{#if this.isMut}}
{{#unless this.isSigner}}
const {{name}} = ""
{{/unless}}
{{/if}}
{{/each}}
{{/each}}


{{#each events}}
  useEffect(() => {
    if (!program) return;
    const listener = program.addEventListener(
      "{{name}}",
      async (event, _slot, _sig) => {
        console.log(event);
      }
    );

    return () => {
      program.removeEventListener(listener);
    };
  }, [program]);

{{/each}}
  return (
    <>
      <Head>
        <title>{{name}}</title>
        <meta name="description" content="{{name}}" />
      </Head>

      {{#each instructions}}
      // for  {{name}}
      {{#each args}}
      <input
      type="text"
      value={
        {{name}}
      }
      onChange={
        {{name}}handler
      }
      />
      {{/each}}
      {{/each}}

      // buttons for calling instructions
      {{#each instructions}}
      <button onclick={
        {{name}}(program,{{#each args}}{{name}},{{/each}}{{#each accounts}} {{name}},{{/each}})
      }>
        Call_{{name}}_functions
      </button>
      {{/each}}
    </>
  );
};

export default Home;
